<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ThePrinterSpyControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="PrintSpyEntities" connectionString="metadata=res://*/Models.PrintSpyDb.csdl|res://*/Models.PrintSpyDb.ssdl|res://*/Models.PrintSpyDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOT\sqlexpress;initial catalog=PrintSpy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="PrintSpyEntities" connectionString="metadata=res://*/Models.PrintSpyDb.csdl|res://*/Models.PrintSpyDb.ssdl|res://*/Models.PrintSpyDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=LOT\sqlexpress;initial catalog=PrintSpy;User ID=spy;Password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <ThePrinterSpyControl.Properties.Settings>
      <setting name="TabUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabPrinters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabDepartments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabComputers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportStart" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportPeriod" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DbConnectionType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DbPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DbUser" serializeAs="String">
        <value />
      </setting>
      <setting name="WinX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WinY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WinWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="WinHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="WinReportSplitter" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PrinterNameMaskType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrinterNameMaskValue" serializeAs="String">
        <value />
      </setting>
      <setting name="PrinterNameMaskEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReportPeriodEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DbServer" serializeAs="String">
        <value />
      </setting>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
    </ThePrinterSpyControl.Properties.Settings>
  </userSettings>
</configuration>
